html {
  scroll-behavior: smooth;
}
/*#page_1st a*/
/*{*/
/*	position: absolute;*/
/*	background: red;*/
/*	color: #fff;*/
/*	top: 50%;*/
/*	z-index: 101;*/
/*}*/
body
{
	padding: 0;
	margin: 0;
	/*overflow: hidden !important;*/
	/*height: 100%;*/
	overflow-x: hidden;
		scroll-behavior: smooth;

}

.preloader
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 1s;
	z-index: 99;
}
.preloader:before
{
	content: '';
	position: absolute;
	left: 0;
	width: 50%;
	height: 100vh;
	background: #000;
	transition: 1s;
}
.preloader.complete:before
{
	left: -50%;
}
.preloader:after
{
	content: '';
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background: #000;
	transition: 1s;
}
.preloader.complete:after
{
	right: -50%;
	/*display: none;*/
}
.pre_txt
{
	font-size: .8em;
	position: relative;
	height: 100vh;
	width: 100%;
	background: #fff;
	margin: auto;
	justify-content: center;
	/*padding-top: 40%;*/
}
.pre_txt video
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.pre_txt h2
{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: #ddd;
	font-size: 3em;
    /*font-family: 'Lobster', cursive;*/
    letter-spacing: 0.01em;
    font-family: 'Pacifico', cursive;
    /*font-family: 'Caveat', cursive;*/
    /*font-family: 'Satisfy', cursive;*/
    /*font-family: 'Courgette', cursive;*/
}
.pre_txt h2 span
{
	opacity: 0;
	display: inline-block;
	animation: animate_loader 1.8s linear forwards;
}
@keyframes animate_loader
{
	0%
	{
		opacity: 0;
		transform: rotateY(90deg);
	}
	100%
	{
		opacity: 1;
		transform: rotateY(0deg);
	}
}
.pre_txt h2 span:nth-child(1)
{
	animation-delay: 1s;
}
.pre_txt h2 span:nth-child(2)
{
	animation-delay: 1.15s;
}
.pre_txt h2 span:nth-child(3)
{
	animation-delay: 1.3s;
}
.pre_txt h2 span:nth-child(4)
{
	animation-delay: 1.45s;
}
.pre_txt h2 span:nth-child(5)
{
	animation-delay: 1.6s;
}
.pre_txt h2 span:nth-child(6)
{
	animation-delay: 1.75s;
}
.pre_txt h2 span:nth-child(8)
{
	animation-delay: 1.9s;
}
.pre_txt h2 span:nth-child(9)
{
	animation-delay: 2.05s;
}
.pre_txt h2 span:nth-child(10)
{
	animation-delay: 2.2s;
}
.pre_txt h2 span:nth-child(11)
{
	animation-delay: 2.35s;
}
.pre_txt h2 span:nth-child(12)
{
	animation-delay: 2.5s;
}
.pre_txt h2 span:nth-child(13)
{
	animation-delay: 2.65s;
}
.pre_txt h2 span:nth-child(14)
{
	animation-delay: 2.8s;
}
/*.pre_txt.complete:after
{
	display: none;
}*/








.section
{
	height: 100vh;
	width: 100%;
}





/*******************************Home_Page***********************************************/
#page_1st .page1_cover
{
	position: absolute;
	height: 100vh;
	width: 100%;
	background: rgba(0,0,0,.7);
}
#page_1st
{
	/*border: 1px solid red;*/
	height: 100vh;
	width: 100%;
	/*border: 1px solid red;*/
	background: url(img/wall.jpg);
	background-size: cover;
	/*background-position: center center;*/
}
.r_logo
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0 20px;
	font-size: 7em;
	color: #fff;
	text-shadow: 0 0 20px #ff005b;
	animation: animate_logo 3s infinite;
    /*font-family: 'Odibee Sans', ;*/

    font-family: 'Lacquer', cursive;
    /*font-family: 'Trade Winds',cursive ;*/
    /*font-family: 'Federant', cursive;*/
    /*font-family: 'Fredoka One', cursive;*/
    /*font-family: 'Permanent Marker', cursive;.*/
    /*font-family: 'Sacramento', cursive;*/
    /*font-family: 'Monoton', cursive;*/
    /*font-family: 'Modak', cursive;*/
    /*font-family: 'Shojumaru', cursive;*/
    /*font-family: 'Bungee Shade', cursive;*/
    /*font-family: 'Spirax', cursive;*/
    /*font-family: 'Oregano', cursive;*/


}
.r_logo:after
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	color: #ff005b
	filter: blur(15px);
}
.r_logo:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fe3a80;
	z-index: -2;
	opacity: .5;
	filter: blur(40px);
	animation: animate_log 3s infinite;
}

@keyframes animate_logo
{
	0%{
		text-shadow: 0 0 20px #ff005b;
	}
	25%
	{
		text-shadow: 0 0 20px #08F7FE;
	}
	75%
	{
		text-shadow: 0 0 20px #F5D300;
	}
	100%
	{
		text-shadow: 0 0 20px #ff005b;
	}
}
@keyframes animate_log
{
	0%{
		background: #fe3a80;
	}
	25%
	{
		background: #08F7FE;
	}
	75%
	{
		background: #F5D300;
	}
	100%
	{
		background: #ff005b;
	}
}

.logo_up
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(50%,270%);
	margin: 0;
	padding: 0 20px;
	font-size: 1.1em;
	color: #fff;
	font-family: 'Trade Winds',cursive ;
}
.logo_down
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(0,370%);
	margin: 0;
	padding: 0 20px;
	font-size: 1.1em;
	color: #fff;
	font-family: 'Trade Winds',cursive ;
}
.logo_pres
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-300px,-120px);
	margin: 0;
	padding: 0 20px;
	font-size: 1.2em;
	color: #fff;
	/*font-family: 'Trade Winds',cursive;*/
    /*font-family: 'Poppins', cursive;*/
    /*font-family: 'Noto Sans', cursive;*/
    /*font-family: 'Odibee Sans', cursive;*/
    /*font-family: 'Ubuntu', cursive;*/
    font-family: 'Open Sans Condensed', cursive;
    /*font-family: 'Lacquer', cursive;*/
    /*font-family: 'Teko', cursive;*/
}
.logo_pre2
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-120%,-310%);
	margin: 0;
	padding: 0 20px;
	font-size: 1.5em;
	color: #fff;
	/*font-family: 'Trade Winds',cursive ;*/
	font-family: 'Lacquer', cursive;
}



nav
{
	position: fixed;
	height: 8%;
	width: 100%;
	/*border: 1px solid red;*/
	z-index: 5;
	transition: 0.2s;
}
.nav_active
{
	transition: 0.2s;
	background: rgba(0,0,0,.8);
	/*background-color: #222;*/
}
nav ul
{
	/*border: 1px solid red;*/ 
	display: flex;
	padding: 0;
	margin: 0;
	/*border: 1px solid red;*/
	/*align-items: center;*/
	/*justify-content: ;*/
	/*align-items: right;*/
	text-align: center;
	padding-left: 65%;
	/*position: absolute;*/
	/*z-index: -2;*/
}

nav ul li
{
	justify-content: center;
	text-align: center;
	align-items: center;
	/*clear: left;*/
	/*border: 1px solid red;*/
	/*position: relative;*/
	top: 0;
	list-style: none;
	padding: 12px 20px;
	/*right: 0;*/
	/*align-items: right;*/
	/*float: right;*/
	/*padding-left: 50%;*/
	/*justify-content: right;*/
	font-family: 'Lemonada', cursive;
}
nav ul li a
{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	color: #fff;
	position: relative;
}
nav ul li a:before
{
	content: '';
	width: 0px;
	height: 2px;
	background: #00bcd4;
	position: absolute;
	top: 100%;
	left: 0;
	transition: 0.5s;
}
nav ul li:hover a:before
{
	width: 50%;
	transform: translateX(100%);
}
.checkbtn
{
	font-size: 2em;
	color: #fff;
	float: right;
	/*line-height: 1.5em;*/
	margin-right: 3%;
	margin-top: 3%;
	cursor: pointer;
	display: none; 
	z-index: 102;
}
#chk
{
	position: absolute;
	top: 70%;
	z-index: 101;
	/*display: none;*/
}
#check
{
	display: none;
	/*top: 80%;
	position: absolute;
	z-index: 101;*/
}
@media (max-width: 800px)
{
	.checkbtn
	{
		z-index: 102;
		display: block;
	}
	nav
	{
		height: 10%;
	}
	nav ul
	{
		position: fixed;
		/*padding-top: 2%;*/
		width: 100%;
		height: 50vh;
		top: -100%;
		left: 0;
		text-align: center;
		transition: all .5s;
		/*border: 1px solid red;*/
		/*border: 1px solid red;*/
		/*padding-left: -80%;*/
		flex-direction: column;
		background: rgba(0,0,0,.8);
		padding-left: 0;
	}
	nav ul li
	{
		position: relative;
		align-items: center;
		/*border: 1px solid blue;*/
		width: 100%;
		height: 10%;
		display: block;
		padding-top: 5%;
	}
	nav ul li a
	{
		position: relative;
		/*border: 1px solid pink;*/
		margin: auto;
		font-size: 20px;
		/*padding-left: 0;*/
		/*position: absolute;*/
		/*left: 0;*/
	}
	#check:checked ~ ul
	{
		top: 8%;
		z-index: 98;
	}
}
.c_logo
{
	position: absolute;
	left: 5%;
	top: 15%;
	height: 70%;
	width: 3%;
}
.c_logo img
{
	height: 100%;
	width: 100%;
}




.page1_icons ul
{
	/*border: 1px solid red;*/
	display: flex;
	position: absolute;
	bottom: 0;
	/*justify-content: bottom;*/
}
.page1_icons ul li
{
	list-style: none;
}
.page1_icons ul li a
{
	width: 30px;
	height: 30px;
	/*border: 1px solid #fff;*/
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	margin: 0 10px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.page1_icons ul li a .fa
{
	position: relative;
	transition: 0.5s;
	z-index: 3;
}
.page1_icons ul li:nth-child(1) a .fa
{
	color: #3b5999;
}
.page1_icons ul li:nth-child(2) a .fa
{
	color: #bc2a8d;
}
.page1_icons ul li:nth-child(3) a .fa
{
	color: #cd201f;
}
.page1_icons ul li a:hover .fa
{
	color: #fff;
	transform: rotateY(360deg);
}
.page1_icons ul li a:before
{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
	transition: 0.5s;
	z-index: 2;
}
.page1_icons ul li a:hover:before
{
	top: 0;
}
.page1_icons ul li:nth-child(1) a:before
{
	background: #3b5999;
}
.page1_icons ul li:nth-child(2) a:before
{
	background: #bc2a8d;
}
.page1_icons ul li:nth-child(3) a:before
{
	background: #cd201f;
}

/*******************************Home_Page_Ends***********************************************/




/*******************************About_Page***********************************************/

.section:nth-child(2)
{
	height: 120vh
}
.page2
{
	height: 120vh;
	background: url(img/aboutus1.jpg);
	/*opacity: .9;*/
	/*background-color: rgba(1,6,21,.5);*/
	background-attachment: fixed;
	background-size: cover;
	/*background-position: center center;*/
	/*background-position: cover;*/
	/*background-color:   #010615 ;*/
}
.page2 .page2_cover
{
	position: absolute;
	/*z-index: -1;*/
	height: 120vh;
	width: 100%;
	background: rgba(70, 56, 171,.5);
}

.page2_container
{
	position: absolute;
	/*border: 1px solid red;*/
	height: 82%;
	width: 60%;
	margin: auto;
	margin-top: 50px;
	margin: 10% 0 0 20%;
	padding-top: 2%;
	display: flex;
	/*opacity: 0.9;*/
	justify-content: center;
	background: rgba(0,0,0,0.7);
	border-radius: 4%;
}
.page2_div1
{
	margin: 0;
	/*padding: -100px;*/
	text-align: center;
	/*background: blue;*/
	height: 100%;
	width: 70%;
	color: #fff;
	justify-content: center;
	align-items: center;
	/*border: 1px solid red;*/
	/*font-family: 'Knewave', cursive;*/
	font-family: 'Quicksand', cursive;
	font-size: 1em;
	/*animation: aboutus 0.5s;*/
}

.page2_div1 h1
{
	font-family: 'Lobster Two', cursive;
}
.page2_div1 .aboutneon
{
	margin: 0;
	padding: 0 20px;
	color: #fff;
	text-shadow: 0 0 40px #ff005b;
	font-size: 1.25em;
}



.page2_div1 p
{
	/*font-family: 'Sriracha', cursive;*/
		font-family: 'Caveat', cursive;
		font-size: 20px;
		/*padding-top: 2%;*/
		/*color: y;*/
}
.leftabout
{
	padding: 0;
	position: absolute;
	top: 80%;
	right: 10em;
}
/*******************************About_Page_Ends***********************************************/









/*******************************Nights_Page***********************************************/
#sec_night
{
    scroll-behavior: smooth;
	position: relative;
	height: 200vh;
}
.page_nights 
{
	position: static;
	background: url(img/nightpic.jpg);
	/*background-color: #000;*/
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	/*height: 100%;*/
	/*width: 100%;*/
	/*z-index: -1;*/
	/*position: absolute;*/
	/*border: 1px solid red;*/
}
.page_nights .page_nights_cover
{
	position: absolute;
	height: 200vh;
	width: 100%;
	/*opacity: 0.9;*/
	/*background-color: #000;*/
	background: rgba(0,0,0,0.5);
}
.nights_heading
{
	position: sticky;
  position: -webkit-sticky;
  	top: 0;
  	left: 2%;
  	padding-bottom: 100vh;
  	/*background: #fff;*/
  	width: 50%;
  	/*left: 50%;*/
  	/*transform: translate(0,0);*/
	font-size: 2.5em;
    font-family: 'Trade Winds', cursive;
    /*font-family: 'Odibee Sans', cursive;*/
    /*font-family: 'Lacquer', cursive;*/
    /*font-family: 'Noto Sans', cursive;*/
    /*font-family: 'Krona One', cursive;*/
    /*font-family: 'Playfair Display', cursive;*/
    /*font-family: 'Yeon Sung', cursive;*/
    /*font-family: 'Federant', cursive;*/
    /*font-family: 'Lobster', cursive;*/
}
.nights_heading h1
{
	position: absolute;
	/*left: 10%;*/
	/*top: 15%;*/
	/*margin: auto;*/
	padding: 0 0 0 6%;
	color: #fff;
}
.nights_heading h1 span
{
	/*border: 1px solid red;*/
	display: table-cell;
	margin: 0;
	padding: 0;
	animation: animate_about 1.75s linear infinite;
}
.nights_heading h1 span:nth-child(1)
{
	animation-delay: 0s;
}
.nights_heading h1 span:nth-child(2)
{
	animation-delay: 0.25s;
}
.nights_heading h1 span:nth-child(3)
{
	animation-delay: 0.5s;
}
.nights_heading h1 span:nth-child(4)
{
	animation-delay: 0.75s;
}
.nights_heading h1 span:nth-child(5)
{
	animation-delay: 1s;
}
.nights_heading h1 span:nth-child(6)
{
	animation-delay: 1.25s;
}
@keyframes animate_about
{
	0%,100%
	{
		color: #fff;
		filter: blur(2px);
		text-shadow: 0 0 10px #00b3ff,
					0 0 20px #00b3ff,
					0 0 40px #00b3ff,
					0 0 80px #00b3ff,
					0 0 120px #00b3ff,
					0 0 200px #00b3ff,
					0 0 300px #00b3ff;
	}
	5%,95%
	{
		color: #444;
		filter: blur(0px);
		text-shadow: none;
	}
}
.page_nights iframe
{
	position: absolute;
	top: 55%;
	left: 6%;
  	border: 0;
  	height: 40%;
  	width: 60%;
}

.nights_container
{
	height: 90%;
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	/*margin: auto;*/
	/*margin-top: 2%;*/
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	padding-top: 8%;
	justify-content: space-around;
}
.nights_part
{
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*border: 1px solid blue;*/
}
.card_box
{
	height: 20%;
	width: 80%;
	/*border: 1px solid green;*/
	background: rgba(0,0,0,.5);
	border-radius: 4%;
	display: flex;
}
.nights_name
{
	position: absolute;
	height: 90%;
	width: 50%;
	z-index: 2;
	border: 1px solid red;
	top: 40%;
	background: rgba(0,0,0,.9);
	color: #fff;
	font-size: 1.25em;
	text-align: center;
	transform-origin: left;
	transform: perspective(2000px);
	/*line-height: 1em;*/
}
.nights_card:hover .nights_name
{
	/*transform: rotateY(-135deg);*/
	transition: 1s;
	/*top: 10%;*/
	color: #000;
	background: rgba(0,0,0,0);
}
.nights_card
{
	top: 5%;
	left: 2%;
	position: relative;
	/*margin: auto;*/
	width: 50%;
	height: 90%;
	background: #fff;
	transform: perspective(2000px);
	transition: 1s;
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5);
}
.nights_card:hover
{
	transform: perspective(2000px) ;
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5);
}
.nights_card .nights_img
{
	position: relative;
	width: 100%;
	height: 100%;
	border: 1px solid #000;
	box-sizing: border-box;
	transform-origin: left;
	z-index: 1;
	transition: 1s;
}
.nights_card:hover .nights_img
{
	transform: rotateY(-180deg);
}
.nights_card .nights_img video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.nights_card .nights_det
{
	position: absolute;
	top: 0;
	left: 0;
	font-size: .9em;
	box-sizing: border-box;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: .5em;
    font-family: 'Spirax', cursive;
}
.nights_names
{
	/*text-align: center;*/
	/*position: absolute;*/
	/*position: static;*/
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%,-50%);*/
	justify-content: center;
	line-height: 2em;
	padding: 2.1em 1.1em;
	height: 20%;
	color: #fff;
	font-size: 1.7em;
	text-shadow: 0 0 40px yellow;
	/*font-family: 'Lacquer', cursive;*/
    /*font-family: 'Trade Winds',cursive ;*/
    /*font-family: 'Federant', cursive;*/
    /*font-family: 'Fredoka One', cursive;*/
    /*font-family: 'Permanent Marker', cursive;.*/
    font-family: 'Sacramento', cursive;
    /*font-family: 'Monoton', cursive;*/
    /*font-family: 'Modak', cursive;*/
    /*font-family: 'Shojumaru', cursive;*/
    /*font-family: 'Bungee Shade', cursive;*/
    /*font-family: 'Spirax', cursive;*/
    /*font-family: 'Oregano', cursive;*/
}
#night2
{
	padding: 2.1em 1.2em;
	text-shadow: 0 0 40px blue;
}
#night3
{
	text-shadow: 0 0 40px green;
}
#night4
{
	text-shadow: 0 0 40px red;
	padding: 2.1em 1em;
}
/*******************************Nights_Page_Ends***********************************************/




/*******************************Gallery******************************************************/

.pagegal
{
	position: relative;
	height: 160vh;
	background-color: #0C020D;
	background-repeat: no-repeat;
	/*border: 1px solid red;*/
	/*z-index: -1;*/
}
.g_logo
{
	/*z-index: 2;*/
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0 20px;
	font-size: 4em;
	color: #FFF;
	text-shadow: 0 0 20px #5C0671;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Oxanium', cursive;*/
    /*font-family: 'Caladea', serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Hind', sans-serif;*/
    /*font-family: 'Noto Sans KR', sans-serif;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-family: 'Exo 2', sans-serif;*/
    /*font-family: 'Comfortaa', cursive;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Fjalla One', sans-serif;*/
    /*font-family: 'Righteous', cursive;*/
    /*font-family: 'Fredoka One', cursive;*/
    /*font-family: 'Francois One', sans-serif;*/
    /*font-family: 'Alfa Slab One', cursive;*/
    /*font-family: 'Passion One', cursive;*/
    /*font-family: 'Concert One', cursive;*/
    /*font-family: 'Russo One', sans-serif;*/
    /*font-family: 'Paytone One', sans-serif;*/
    font-family: 'Baloo', cursive;
}
.g_logo:after
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	color: #BE58BA;
	filter: blur(15px);
}
.g_logo:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #760B8F;
	z-index: -2;
	opacity: .5;
	filter: blur(40px);
	/*animation: anim 3s infinite;*/
}
.gal_container
{
	margin: auto;
	height: 85%;
	width: 90%;
	padding-top: 12%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/*border: 1px solid red;*/
}
.gal_container a
{
	margin: .5%;
	height: 21%;
	width: 24%;
	/*border: 1px solid;*/
}
.gal_container img
{
	height: 100%;
	width: 100%;
}
.gal_container a:hover
{
	transform: scale(1.03);
	transition: 0.2s;
}

/*******************************Gallery_Ends***********************************************/



/**********************************Footer*******************************************/
.page4
{
	/*border: 1px solid #fff;*/
	/*background-color: #fff;*/
	position: relative;
	/*background-color: #fff;*/
		background: url(img/lords.jpg);
	background-position: center;
	background-size: cover;
		background-attachment: fixed;
	/*background: #ab7;*/
}
.l_main
{
	/*left: 3%;*/
	position: relative;
	top: 8%;
	margin: auto;
	display: flex;
	height: 85%;
	width: 94%;
	/*border-radius: 4%;*/
	/*z-index: 99;*/
	/*border: 2px solid red;*/
}
.l_footer
{
	position: absolute;
	background: #111;
	/*opacity: 0.9;*/
	height: 5%;
	width: 100%;
	bottom: 0;
	color:#fff;
	font-size:14px;
	/*line-height: 14px;*/
	/*margin-top: 90%;*/
	/*padding-top: 10%;*/
	/*z-index: -1;*/
	/*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Oxanium', cursive;*/
    /*font-family: 'Caladea', serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Hind', sans-serif;*/
    /*font-family: 'Noto Sans KR', sans-serif;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-family: 'Exo 2', sans-serif;*/
    /*font-family: 'Comfortaa', cursive;*/
    /*font-family: 'Anton', sans-serif;*/
    font-family: 'Fjalla One', sans-serif;
    /*font-family: 'Righteous', cursive;*/
    /*font-family: 'Fredoka One', cursive;*/
    /*font-family: 'Francois One', sans-serif;*/
    /*font-family: 'Alfa Slab One', cursive;*/
    /*font-family: 'Passion One', cursive;*/
    /*font-family: 'Concert One', cursive;*/
    /*font-family: 'Russo One', sans-serif;*/
    /*font-family: 'Paytone One', sans-serif;*/
}
.l_footer h2
{
	padding-top: 5px;
	text-align: center;
	font-size: 1em;
	margin: auto;
	position: relative;
}
.l_upper
{
	position: absolute;
	/*background: rgba(255,255,255,.1);*/
	/*opacity: 0.9;*/
	height: 70%;
	width: 100%;
	top: 0;
	/*z-index: -1;*/
}
.l_form
{
	position: relative;
	height: 90%;
	width: 65%;
	margin: auto;
	background: rgba(0,0,0,.5);
	border-radius: 2%;
}
.l_logo
{
	z-index: 2;
	position: relative;
	/*top: 15%;*/
	/*left: 40%;*/
	/*transform: translate(-50%,-50%);*/
	margin: auto;
	margin-top: 5%;
	/*padding: 0 20px;*/
	font-size: 2em;
	color: #FFF;
	text-shadow: 0 0 20px #03a9f4;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Oxanium', cursive;*/
    /*font-family: 'Caladea', serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Hind', sans-serif;*/
    /*font-family: 'Noto Sans KR', sans-serif;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-family: 'Exo 2', sans-serif;*/
    /*font-family: 'Comfortaa', cursive;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Fjalla One', sans-serif;*/
    /*font-family: 'Righteous', cursive;*/
    font-family: 'Fredoka One', cursive;
    /*font-family: 'Francois One', sans-serif;*/
    /*font-family: 'Alfa Slab One', cursive;*/
    /*font-family: 'Passion One', cursive;*/
    /*font-family: 'Concert One', cursive;*/
    /*font-family: 'Russo One', sans-serif;*/
    /*font-family: 'Paytone One', sans-serif;*/





}

.l_logo:before
{
	content: '';
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #03a9f4;
	z-index: -2;
	opacity: .5;
	filter: blur(40px);
	/*animation: animate_log 3s infinite;*/
}
.l_part1
{
	height: 100%;
	width: 50%;
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: column;
	/*justify-content: space-around;*/
	/*border: 1px solid red;*/
}
.l_part1 .l_part1contains
{
	/*border: 1px solid blue;*/
	position: relative;
	margin: auto;
	height: 15%;
	width: 80%;
	background: rgba(0,0,0,.8);
	border-radius: 2%;
	color: #777;
	justify-content: center;
	align-items: center;
	/*border-radius: 5%;*/
	/*size: 1.5em;*/
}
.l_part1 .l_part1contains:nth-child(4)
{
	height: 30%;
}
.l_part1contains i
{
	/*size: 1.5em;*/
	position: relative;
	padding-left: 48%;
	padding-top: 4%;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: all;
	/*border: 1px solid red;*/
}
.l_part1contains  .fa-map-marker

{
	color: #af0606;
}
.l_part1contains .fa-envelope-o
{
	color: #dd4b39;
}
.l_part1contains .fa-phone
{
	color: #00c300;
}
.l_part1contains h2
{
	margin: auto;
	/*border: 1px solid red;*/
	/*justify-content: center;*/
	text-align: center;
	/*size: 1.5em;*/
	/*position: absolute;*/
	/*padding-left: 15%;*/
	padding-top: 1%;
	/*margin: auto;*/
	font-size: .7em;
	/*font-family: 'Sen', sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Noto Sans', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    /*font-family: 'Bellota Text', cursive;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Roboto Mono', monospace;*/



    /*font-family: 'Shadows Into Light', cursive;*/
    /*font-family: 'Acme', sans-serif;*/
    /*font-family: 'Bree Serif', serif;*/
    /*font-family: 'Righteous', cursive;*/
    /*font-family: 'Kalam', cursive;*/
    /*font-family: 'Fredoka One', cursive;*/
}
.l_part1contains h2:nth-child(2),
.l_part1contains h2:nth-child(4)
{
	padding-top: 4%;	
	    font-family: 'Kalam', cursive;

}
.l_part2
{
	height: 100%;
	width: 50%;
	position: absolute;
	right: 0;
	border-radius: 2%;
	font-size: .8em;
	background: rgba(0,0,0,.8);
	/*border: 1px solid red;*/
}
.l_part2 h1
{
	font-size: 2.2em;
	padding-top: 5%;
	padding-bottom: 3%;
	text-align: center;
	/*border: 1px solid red;*/
	margin: auto;
}
.l_part2 input
{
	border-radius: 2%;
	padding: 1.8% 0;
	/*margin-bottom: 10%;*/
	margin-left: 15%;
	margin-top: 6%;
	/*font: red;*/
	color: #111;
	font-family: 'Kalam', cursive;
	padding-left: 2%;
	/*margin: auto;*/
}
.l_part2 input:nth-child(1)
{
	/*padding: 10px 0;*/
	/*margin-bottom: 10%;*/
	/*margin-left: 10%;*/
	/*margin-top: 20%;*/
	/*margin: auto;*/
}
.l_part2 input
{
	/*margin: auto;*/
	position: relative;
	justify-content: center;
	width: 70%;
	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 2px solid #03a9f4;
}
.l_part2 input[type="submit"]
{
	position: absolute;
	margin-left: 15%;
	/*bottom: 7%;*/
	/*margin-top: 8%;*/
	border-bottom: none;
	cursor: pointer;
	background: #03a9f4;
	color: #fff;

	/*margin: 0;*/
}
.l_part2 form div
{
	position: relative;
}
.l_part2 form div label
{
	position: absolute;
	top: 60%;
	left: 20%;
	color: #999;
	transition: 0.5s;
	pointer-events: none;
}
.l_part2 input:focus ~ label,
.l_part2 input:valid ~ label
{
	top: 15%;
	left: 16%;
	color: #03a9f4;
	font-size: 10px;
	font-weight: bold;
}
.l_part2 input:focus,
.l_part2 input:valid
{
	border-bottom: 2px solid #03a9f4;
}
@media (max-width: 600px)
{
	.l_main
	{
		flex-direction: column;
		/*height: 100vh*/
	}
	.part1
	{
		/*display: none;*/
		/*position: absolute;*/
		background-color: green;
		width: 100%;
		height: 90%;
	}
	.part2
	{
		/*position: relative;*/
		background-color: orange;
		width: 100%;
		height: 10%;
	}
	.part2_a
	{
		display: none;
		/*height: 90%;*/
		/*grid-row: 1/span 2;*/
		/*display: none;*/
		/*position: sticky;*/
		/*transform: translate(-100%,-100%s);*/
	}
	.part2_b
	{
		height: 100%;
	}
	.anti_act
	{
		background: rgba(255,255,255,0);
		color: #fff;
	}
}
/**********************************Footer_ends*******************************************/
@media (max-width: 800px)
{
	.pre_txt
	{
		font-size: .4em;
	}
	.r_logo
	{
		font-size: 3.2em;
	}
	.logo_up
	{
		transform: translate(20%,200%);
		font-size: .6em;
	}
	.logo_down
	{
		transform: translate(0,340%);
		font-size: .5em;
	}
	.logo_pre2
	{
		transform: translate(-110%,-290%);
		font-size: .7em;
	}
	/*nav ul li
	{
		padding: 4px 10px;
	}
	nav ul li a
	{
		font-size: .7em;
	}*/
	.c_logo
	{
		height: 60%;
		width: 10%;
		margin-top: 2%;
	}
	.page1_icons ul
	{
		padding-left: 4%;
		/*border: 1px solid red;*/
	}
	.page1_icons ul li a
	{
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 20px;
		margin: 0 6px;
	}
	.page2
	{
		height: 120vh;
	}
	.page2 .page2_cover
	{
		height: 120vh;
	}
	.page2_container
	{
		height: 85%;
		width: 85%;
		margin: 30% 0 0 7%;
		border-radius: 4%;
	}
	.page2_div1
	{
		width: 80%;
	}
	.page2_div1 h1
	{
		font-size: 1em;
	}
	.page2_div1 p
	{
	    padding-top: 10%;
		font-family: 'Caveat', cursive;
		font-size: .7em;
	}
	.leftabout
	{	
		position: absolute;
		top: 85%;
		right: 4em;
	}
	.nights_container
	{
		position: absolute;
		/*right: 0;*/
		padding-left: 50%;
		/*right: 0;*/
		width: 50%;
				/*border: 1px solid blue;*/

		/*border: 1px solid red;*/
	}
	.nights_heading
	{
		left: 0;
		top: 2%;
		font-size: 1.4em;
		/*border: 1px solid red;*/
	}
	.page_nights iframe
	{
		/*top: 65%;*/
		height: 25%;
		width: 70%;
	}
	.nights_part
	{

		height: 20%;
		width: 100%;
	}
	.card_box
	{
		/*border:1px solid blue;*/
		/*background: rgba(0,0,0,1);*/
		width: 90%;
		height: 18%;
		margin-bottom: 15%; 
	}
	#sec_night
	{
		/*position: absolute;*/
		height: 160vh;
	}
	.nights_names
	{
		font-size: .7em;
		padding: 4em 1em;
		/*display: none;*/
	}
	#night2
	{
		padding: 4em 1.2em;
		/*text-shadow: 0 0 40px blue;*/
	}
	#night3
	{
		padding: 4em 1.1em;
	}
	#night4
	{
		padding: 4em 1em;
	}
	.nights_card .nights_det
	{
		font-size: .4em;
	}


	.pagegal
	{
		height: 160vh;
	}
	.g_logo
	{
		top: 4%;
		font-size: 2em;
	}
	.gal_container
	{
		padding-top: 24%;
		padding-bottom: 0;
	}
	.gal_container a
	{
		margin: 0;
		height: 11%;
		width: 48%;
	/*border: 1px solid;*/
	}




	.page4
	{
		height: 160vh;
	}
	.l_form
	{
		top: 10%;
		position: absolute;
		padding-top: 0;
		margin-left: 5%;
		height: 100%;
		width: 90%;
		display: flex;
		flex-direction: column;
	}
	.l_main
	{
		position: relative;
		top: 0;
	}
	.l_part1
	{
		position: relative;
		height: 100%;
		width: 100%;
	}
	.l_logo
	{
		font-size: 1.2em;
	}
	.l_part2
	{
		position: relative;
		height: 130%;
		width: 100%;	
	}
	.l_part1contains h2
	{
		/*position: absolute;*/
		margin-top: -8px;
		font-size: .5em;
		padding-top: .5em;
		margin-bottom: .5em;
		/*margin-top: 1px;*/
	}
	.l_part2 h1
	{
		font-size: 1.5em;
		/*padding-bottom: 1%;*/
	}

.l_part2 input
{
	border-radius: 2%;
	padding: 1% 0;
	/*margin-bottom: 10%;*/
	margin-left: 15%;
	margin-top: 6%;
	/*font: red;*/
	color: #111;
	font-family: 'Kalam', cursive;
	padding-left: 2%;
	/*margin: auto;*/
}
.l_part2 form div label
{
	position: absolute;
	top: 50%;
	left: 20%;
	color: #999;
	transition: 0.5s;
	pointer-events: none;
	font-size: .8em;
}
.l_part2 input:focus ~ label,
.l_part2 input:valid ~ label
{
	top: 8%;
	left: 16%;
	color: #03a9f4;
	font-size: .6em;
	font-weight: bold;
}
	.l_footer
	{
		height: 3%;
		padding-top: 1.5%;
	}
}	