body
{
	padding: 0;
	margin: 0;
	/*overflow: hidden !important;*/
	/*height: 100%;*/
	/*overflow: hidden;*/
}
.preloader h2
{
	color: #fff;
}
.preloader
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*background: #000;*/
	transition: 1s;
	z-index: 99;
}
.preloader:before
{
	content: '';
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	background: #000;
	transition: 1s;
}
.preloader.complete:before
{
	left: -50%;
	/*z-index: -2;*/
}
.preloader:after
{
	content: '';
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background: #000;
	transition: 1s;
	/*z-index: -2;*/
}
.preloader.complete:after
{
	right: -50%;
}
.pre_txt
{
	font-size: .8em;
	position: relative;
	height: 100vh;
	width: 100%;
	background: #fff;
	margin: auto;
	justify-content: center;
	/*padding-top: 40%;*/
}
.pre_txt video
{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.pre_txt h2
{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
	color: #ddd;
	font-size: 3em;
    /*font-family: 'Lobster', cursive;*/
    letter-spacing: 0.01em;
    font-family: 'Pacifico', cursive;
    /*font-family: 'Caveat', cursive;*/
    /*font-family: 'Satisfy', cursive;*/
    /*font-family: 'Courgette', cursive;*/
}
.pre_txt h2 span
{
	opacity: 0;
	display: inline-block;
	animation: animate_loader 1.8s linear forwards;
}
@keyframes animate_loader
{
	0%
	{
		opacity: 0;
		transform: rotateY(90deg);
	}
	100%
	{
		opacity: 1;
		transform: rotateY(0deg);
	}
}
.pre_txt h2 span:nth-child(1)
{
	animation-delay: 1s;
}
.pre_txt h2 span:nth-child(2)
{
	animation-delay: 1.15s;
}
.pre_txt h2 span:nth-child(3)
{
	animation-delay: 1.3s;
}
.pre_txt h2 span:nth-child(4)
{
	animation-delay: 1.45s;
}
.pre_txt h2 span:nth-child(5)
{
	animation-delay: 1.6s;
}
.pre_txt h2 span:nth-child(6)
{
	animation-delay: 1.75s;
}
.pre_txt h2 span:nth-child(8)
{
	animation-delay: 1.9s;
}
.pre_txt h2 span:nth-child(9)
{
	animation-delay: 2.05s;
}
.pre_txt h2 span:nth-child(10)
{
	animation-delay: 2.2s;
}
.pre_txt h2 span:nth-child(11)
{
	animation-delay: 2.35s;
}
.pre_txt h2 span:nth-child(12)
{
	animation-delay: 2.5s;
}
.pre_txt h2 span:nth-child(13)
{
	animation-delay: 2.65s;
}
.pre_txt h2 span:nth-child(14)
{
	animation-delay: 2.8s;
}
/*.pre_txt.complete:after
{
	display: none;
}*/










nav
{
	position: fixed;
	height: 8%;
	width: 100%;
	/*border: 1px solid red;*/
	z-index: 5;
	transition: 0.2s;
}
.nav_active
{
	transition: 0.2s;
	background: rgba(0,0,0,.8);
	/*background-color: #222;*/
}
nav ul
{
	/*border: 1px solid red;*/ 
	display: flex;
	padding: 0;
	margin: 0;
	/*border: 1px solid red;*/
	/*align-items: center;*/
	/*justify-content: ;*/
	/*align-items: right;*/
	text-align: center;
	padding-left: 65%;
	/*position: absolute;*/
	/*z-index: -2;*/
}

nav ul li
{
	justify-content: center;
	text-align: center;
	align-items: center;
	/*clear: left;*/
	/*border: 1px solid red;*/
	/*position: relative;*/
	top: 0;
	list-style: none;
	padding: 12px 20px;
	/*right: 0;*/
	/*align-items: right;*/
	/*float: right;*/
	/*padding-left: 50%;*/
	/*justify-content: right;*/
	font-family: 'Lemonada', cursive;
}
nav ul li a
{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	color: #fff;
	position: relative;
}
nav ul li a:before
{
	content: '';
	width: 0px;
	height: 2px;
	background: #00bcd4;
	position: absolute;
	top: 100%;
	left: 0;
	transition: 0.5s;
}
nav ul li:hover a:before
{
	width: 50%;
	transform: translateX(100%);
}
.checkbtn
{
	font-size: 2em;
	color: #fff;
	float: right;
	/*line-height: 1.5em;*/
	margin-right: 3%;
	margin-top: 3%;
	cursor: pointer;
	display: none; 
	z-index: 102;
}
#chk
{
	position: absolute;
	top: 70%;
	z-index: 101;
	/*display: none;*/
}
#check
{
	display: none;
	/*top: 80%;
	position: absolute;
	z-index: 101;*/
}
@media (max-width: 800px)
{
	.checkbtn
	{
		z-index: 102;
		display: block;
	}
	nav
	{
		height: 10%;
	}
	nav ul
	{
		position: fixed;
		/*padding-top: 2%;*/
		width: 100%;
		height: 50vh;
		top: -100%;
		left: 0;
		text-align: center;
		transition: all .5s;
		/*border: 1px solid red;*/
		/*border: 1px solid red;*/
		/*padding-left: -80%;*/
		flex-direction: column;
		background: rgba(0,0,0,.8);
		padding-left: 0;
	}
	nav ul li
	{
		position: relative;
		align-items: center;
		/*border: 1px solid blue;*/
		width: 100%;
		height: 10%;
		display: block;
		padding-top: 5%;
	}
	nav ul li a
	{
		position: relative;
		/*border: 1px solid pink;*/
		margin: auto;
		font-size: 20px;
		/*padding-left: 0;*/
		/*position: absolute;*/
		/*left: 0;*/
	}
	#check:checked ~ ul
	{
		top: 10%;
		z-index: 98;
	}
}


.c_logo
{
	position: absolute;
	left: 5%;
	top: 15%;
	height: 70%;
	width: 3%;
}
.c_logo img
{
	height: 100%;
	width: 100%;
}

.section
{
	height: 160vh;
	width: 100%;
}
.page1 .page1_cover
{
	position: absolute;
	/*z-index: -1;*/
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,.8);
}
.spon_page
{
	background: url(img/wall.jpg);
	background-size: cover;
	/*background-position: center center;*/
}
.page1 video
{
	/*height: 100v;*/
	width: 100%;
	z-index: -2;
	position: absolute;
	/*background: url(img/img5.png);*/
}


/*about us page*/

/*.page2 .img_cover
{
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(1,6,21,.7);
	z-index: -1;
}*/

.spon_page .img_cover
{
	height: 400vh;
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.5);
	top: 0;
		padding-top: 15%;

	/*background-color: #1F2833;*/
	/*background-color: #0B0C10;*/
	/*opacity: 0.8;*/
	/*z-index: -1;*/
}
.spon_page
{
	/*border: 1px solid red;*/
	height: 400vh;
	/*background: #ab7;*/
	background: url(img/teamback3.jpg);
	background-attachment: fixed;
	background-size: cover;
	/*background-position: center;*/
	background-repeat: repeat;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 15%;
}
.page4
{
	/*border: 1px solid #fff;*/
	/*background-color: #fff;*/
	position: relative;
		background: url(img/lords.png);
	background-position: center;
	background-size: cover;
		background-attachment: fixed;
	/*background: #ab7;*/
}







.rg_logo
{
	z-index: 2;
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0 20px;
	font-size: 4em;
	color: #FFF;
	text-shadow: 0 0 20px  #07cff6;
	animation: imate_logo 3s infinite;
    /*font-family: 'Odibee Sans', ;*/

    /*font-family: 'Lacquer', cursive;*/
    /*font-family: 'Trade Winds',cursive ;*/
    /*font-family: 'Federant', cursive;*/
    font-family: 'Fredoka One', cursive;
    /*font-family: 'Permanent Marker', cursive;.*/
    /*font-family: 'Sacramento', cursive;*/
    /*font-family: 'Monoton', cursive;*/
    /*font-family: 'Modak', cursive;*/
    /*font-family: 'Shojumaru', cursive;*/
    /*font-family: 'Bungee Shade', cursive;*/
    /*font-family: 'Spirax', cursive;*/
    /*font-family: 'Oregano', cursive;*/


}
.rg_logo:after
{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	color:  #07cff6;
	filter: blur(15px);
}
.rg_logo:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:  #07cff6;
	z-index: -2;
	opacity: .5;
	filter: blur(40px);
	animation: imate_log 3s infinite;
}


.spon_items
{
	position: relative;
	height: 200px;
	width: 25%;
	margin-top: 5%;
	border: 1px solid rgba(0,0,0,0);
	/*text-align: center;*/
}
.spon_items img
{
	position: absolute;
	height: 100%;
	width: 100%;
}
.l_footer
{
	position: absolute;
	background: #111;
	/*opacity: 0.9;*/
	height: 5%;
	width: 100%;
	top: 400vh;
	color:#fff;
	font-size:14px;
	margin-top: 15%;

	/*line-height: 14px;*/
	/*margin-top: 90%;*/
	/*padding-top: 10%;*/
	/*z-index: -1;*/
	/*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Poppins', sans-serif;*/
    /*font-family: 'Oxanium', cursive;*/
    /*font-family: 'Caladea', serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Hind', sans-serif;*/
    /*font-family: 'Noto Sans KR', sans-serif;*/
    /*font-family: 'Anton', sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-family: 'Exo 2', sans-serif;*/
    /*font-family: 'Comfortaa', cursive;*/
    /*font-family: 'Anton', sans-serif;*/
    font-family: 'Fjalla One', sans-serif;
    /*font-family: 'Righteous', cursive;*/
    /*font-family: 'Fredoka One', cursive;*/
    /*font-family: 'Francois One', sans-serif;*/
    /*font-family: 'Alfa Slab One', cursive;*/
    /*font-family: 'Passion One', cursive;*/
    /*font-family: 'Concert One', cursive;*/
    /*font-family: 'Russo One', sans-serif;*/
    /*font-family: 'Paytone One', sans-serif;*/
}
.l_footer h2
{
	padding-top: 5px;
	text-align: center;
	font-size: 1em;
	margin: auto;
	position: relative;
}



@media (max-width: 800px)
{
	.pre_txt
	{
		font-size: .4em;
	}
	.c_logo
	{
		height: 60%;
		width: 10%;
		margin-top: 2%;
	}
	.rg_logo
	{
		position: absolute;
		margin: auto;
		transform: translate(0,0);
		left: 10%;
		font-size: 1.8em;
	}
	.spon_page
	{
		padding-top: 50%;
		display: flex;
		flex-wrap: wrap;
	}
	.spon_page .img_cover
	{
		padding-top: 50%;
	}

	.spon_items
	{
	position: relative;
	height: 6%;
	width: 45%;
	margin-top: 2%;
	/*text-align: center;*/
	}

.l_footer
{
	top: 400vh;
	margin-top: 50%;
}

}